<h1>Hello</h1>

<button (click)="login()" [hidden]="loggedIn">Login</button>
<button (click)="logout()" [hidden]="!loggedIn">Logout</button>

<div *ngIf="loggedIn">

    <h2>Get Profile</h2>

    <button (click)="getProfile()">Profile</button>
    <div *ngIf="profile">
        <p>Display name: {{ profile.displayName }}</p>
    </div>

    <h2>Get Pokemon (custom API)</h2>

    <button (click)="getPokemon()">Pokemon</button>
    <div *ngIf="pokemon">
        <ul>
            <li *ngFor="let p of pokemon">{{p}}</li>
        </ul>
    </div>

    <h2>Get Users (MS Graph)</h2>

    <input type="text" [(ngModel)]="userNameFilter" />
    <button (click)="getUsers()">Users</button>
    <div *ngIf="users">
        <ul>
            <li *ngFor="let u of users">{{ u.displayName }} ({{ u.userPrincipalName }})</li>
        </ul>
    </div>
</div>